HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/database/log/log.ctrl
/database/log/log14.dat
/database/log/logmirror.ctrl
/database/log/README_DO_NOT_TOUCH_FILES.txt
/database/seg0/c1a1.dat
/database/seg0/c1b1.dat
/database/seg0/c1c0.dat
/database/seg0/c1d1.dat
/database/seg0/c1e0.dat
/database/seg0/c1f1.dat
/database/seg0/c2a1.dat
/database/seg0/c2b1.dat
/database/seg0/c2c1.dat
/database/seg0/c2d0.dat
/database/seg0/c2e1.dat
/database/seg0/c2f0.dat
/database/seg0/c3a1.dat
/database/seg0/c3b1.dat
/database/seg0/c3c0.dat
/database/seg0/c3d1.dat
/database/seg0/c3e1.dat
/database/seg0/c3f1.dat
/database/seg0/c4a1.dat
/database/seg0/c4b0.dat
/database/seg0/c4c1.dat
/database/seg0/c4d1.dat
/database/seg0/c5a0.dat
/database/seg0/c5b1.dat
/database/seg0/c5c1.dat
/database/seg0/c5d1.dat
/database/seg0/c5e0.dat
/database/seg0/c5f1.dat
/database/seg0/c10.dat
/database/seg0/c20.dat
/database/seg0/c31.dat
/database/seg0/c41.dat
/database/seg0/c51.dat
/database/seg0/c60.dat
/database/seg0/c71.dat
/database/seg0/c81.dat
/database/seg0/c90.dat
/database/seg0/c101.dat
/database/seg0/c111.dat
/database/seg0/c121.dat
/database/seg0/c130.dat
/database/seg0/c141.dat
/database/seg0/c150.dat
/database/seg0/c161.dat
/database/seg0/c171.dat
/database/seg0/c180.dat
/database/seg0/c191.dat
/database/seg0/c200.dat
/database/seg0/c211.dat
/database/seg0/c221.dat
/database/seg0/c230.dat
/database/seg0/c241.dat
/database/seg0/c251.dat
/database/seg0/c260.dat
/database/seg0/c271.dat
/database/seg0/c281.dat
/database/seg0/c290.dat
/database/seg0/c300.dat
/database/seg0/c311.dat
/database/seg0/c321.dat
/database/seg0/c331.dat
/database/seg0/c340.dat
/database/seg0/c351.dat
/database/seg0/c361.dat
/database/seg0/c371.dat
/database/seg0/c380.dat
/database/seg0/c391.dat
/database/seg0/c400.dat
/database/seg0/c411.dat
/database/seg0/c421.dat
/database/seg0/c430.dat
/database/seg0/c441.dat
/database/seg0/c451.dat
/database/seg0/c461.dat
/database/seg0/c470.dat
/database/seg0/c481.dat
/database/seg0/c490.dat
/database/seg0/c580.dat
/database/seg0/c591.dat
/database/seg0/c601.dat
/database/seg0/c621.dat
/database/seg0/ca1.dat
/database/seg0/ca41.dat
/database/seg0/ca50.dat
/database/seg0/ca61.dat
/database/seg0/ca81.dat
/database/seg0/cb1.dat
/database/seg0/cb01.dat
/database/seg0/cc0.dat
/database/seg0/cd1.dat
/database/seg0/ce1.dat
/database/seg0/cf0.dat
/database/seg0/daf1.dat
/database/seg0/README_DO_NOT_TOUCH_FILES.txt
/database/db.lck
/database/dbex.lck
/database/README_DO_NOT_TOUCH_FILES.txt
/database/service.properties
/derby.log
/mvnw
/mvnw.cmd
/backend/derby.log
/node_modules/
